<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>YOUR_LABEL</string>
    <key>ProgramArguments</key>
    <array>
        <string>YOUR_PYTHON_PATH</string>
        <string>YOUR_PATH_TO/cycling.py</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>YOUR_PATH_TO_WORKOUFILES</string>
    </array>
</dict>
</plist>